---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---
<BaseLayout title="About | Trever Berryman" description="About | Trever Berryman">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="../../assets/AlienAboutMe.png"
					alt=""
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hi, I’m Trever (he/they) 👋 I'm a creative developer, IT and technical QA professional based in New York. I’m interested in automation and CI/CD and I'm learning more about those currently. I'm also a big #a11y for inclusive software development that incorporates diverse teams and content.
					</p>
					<br>
					<p>
						Some links: <u><a href="https://open.spotify.com/user/caliguy225">Spotify Profile↗</a></u>, <u><a href="https://treverberryman.notion.site/Trever-s-Photography-Digital-Art-and-AI-Art-e46f59f7c7bc4e57aad64dabf7c7b6b7"> My Photography↗</a></u>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><b>Software:</b> JIRA, Test Rail, Perforce, Git, Unity3D, Command Line, TeamCity, Microsoft Azure PlayFab</p>
					<br>
					<p><b>Code:</b> C#, Javascript, HTML5, CSS</p>
					<br>
					<p><b>Operating Systems:</b> macOS, Windows 11/10/8/7/Vista/XP, iOS, Android</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll('.nav-items a');
    navLinks.forEach(link => {
      if(link.getAttribute('href') === currentPath) {
        link.classList.add('active');
        link.setAttribute('aria-current', 'page');
      } else {
        link.classList.remove('active');
        link.removeAttribute('aria-current');
      }
    });
  });
</script>

