---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---
<BaseLayout title="About | Trever Berryman" description="About | Trever Berryman">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="../../assets/AlienAboutMe.png"
					alt=""
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hi, I’m Trever (he/they) 👋 I'm a creative developer, IT and QA professional based in New York. I’m a big #a11y for inclusive design that incorporates diverse teams and content.
					</p>
					<br>
					<p>
						In my free time, I enjoy learning languages like 中文 and Español. Some other activities I love doing are hiking, meditating, photography and making Spotify playlists!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><b>Software:</b> Confluence, JIRA, Test Rail, Git, Unity3D, Photoshop, Procreate, Perforce, Command Line, Excel, MS Office, MS Teams, Miro</p>
					<br>
					<p><b>Code:</b> Javascript, HTML5, CSS, C#, SQL, Python</p>
					<br>
					<p><b>Operating Systems:</b> macOS, Windows 11/10/8/7/Vista/XP, iOS, Android</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Personal Mission Statement</h2>
				<div class="content">
					<p>I dedicate myself to living mindfully through daily meditation, conscious breathing keeping a beginner's mind, and staying to my values while remaining present for people in my life. I am committed to preparing for my future outcomes by making sure my fundamentals are taken care of first. My current objective is to explore project in creative technology through the lens of play and building a body of work I'm proud of. I aim to impact the world positively in my lifetime or future life-times through evolving, collaborative change.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll('.nav-items a');
    navLinks.forEach(link => {
      if(link.getAttribute('href') === currentPath) {
        link.classList.add('active');
        link.setAttribute('aria-current', 'page');
      } else {
        link.classList.remove('active');
        link.removeAttribute('aria-current');
      }
    });
  });
</script>

