---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="/assets/AlienAboutMe.png"
					alt=""
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hi, I’m Trever (he/they) 👋 I'm a creative developer, IT and QA professional based in New York. I’m a big #a11y for inclusive design that incorporates diverse teams and content.
					</p>
					<br>
					<p>
						In my free time, I enjoy learning languages, like 中国人 and Español. Some of the other things I love doing are hiking, meditating, photography and making Spotify playlists!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><b>Software:</b> Confluence, JIRA, Test Rail, Git, Unity3D, Photoshop, Procreate, Perforce, Command Line, Excel, MS Office, MS Teams, Miro</p>
					<br>
					<p><b>Code:</b> Javascript, HTML5, CSS, C#, SQL, Python</p>
					<br>
					<p><b>Operating Systems:</b> macOS, Windows 11/10/8/7/Vista/XP, iOS, Android</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Personal Mission Statement</h2>
				<div class="content">
					<p>I dedicate myself to living a mindful life and putting my effort into learning and applying the skills needed to solve interesting and socially impactful problems with creative technology. I cultivate my relationship with myself and others in order to improve the world around me. I enact my passions that change the world in my lifetime or future through a legacy of self-perpetuating shared vision or roots-based change. </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
